AirportClient/Connected Services/AirportService/AirportService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AirportService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/AirportService/AirportService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/AirportService/AirportService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/AirportService/AirportService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AirportService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAirportService_GetAirport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAirport" />
  </wsdl:message>
  <wsdl:message name="IAirportService_GetAirport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAirportResponse" />
  </wsdl:message>
  <wsdl:message name="IAirportService_SaveAirport_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveAirport" />
  </wsdl:message>
  <wsdl:message name="IAirportService_SaveAirport_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveAirportResponse" />
  </wsdl:message>
  <wsdl:portType name="IAirportService">
    <wsdl:operation name="GetAirport">
      <wsdl:input wsaw:Action="http://tempuri.org/IAirportService/GetAirport" message="tns:IAirportService_GetAirport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAirportService/GetAirportResponse" message="tns:IAirportService_GetAirport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveAirport">
      <wsdl:input wsaw:Action="http://tempuri.org/IAirportService/SaveAirport" message="tns:IAirportService_SaveAirport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAirportService/SaveAirportResponse" message="tns:IAirportService_SaveAirport_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAirportService" type="tns:IAirportService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAirport">
      <soap:operation soapAction="http://tempuri.org/IAirportService/GetAirport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveAirport">
      <soap:operation soapAction="http://tempuri.org/IAirportService/SaveAirport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AirportService">
    <wsdl:port name="BasicHttpBinding_IAirportService" binding="tns:BasicHttpBinding_IAirportService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/AirportService/AirportService/AirportService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>