AirportClient/Connected Services/AirportService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/AirportService/AirportService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AirportService" />
  <xs:element name="GetAirport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="airportICAOCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAirportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AirportService" minOccurs="0" name="GetAirportResult" nillable="true" type="q1:Airport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAirport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AirportService" minOccurs="0" name="airport" nillable="true" type="q2:Airport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAirportResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>