AirportClient/Connected Services/AirportService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AirportService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AirportService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Airport">
    <xs:sequence>
      <xs:element minOccurs="0" name="AirportIATACode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AirportICAOCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Minima" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Airport" nillable="true" type="tns:Airport" />
</xs:schema>